body {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #3c184e;
}

.section {
  width: 100%;
  padding: 120px 80px;
}

.section__banner {
  background: url("../assets/banner.jpg") center / cover;
}

.logo {
  max-width: 250px;
}

.logo__title {
  font-size: 35px;
  margin-bottom: 5px;
}

.logo__title img {
  width: 30px;
  margin-right: 5px;
}

.logo__subtitle {
  font-size: 14px;
}

.banner {
  max-width: 1024px;
  padding: 40px;
  margin: 70px auto 0;
  border-radius: 10px;

  background-color: #ffffffc4;
  box-shadow: 0 8px 32px #1f26875e;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 40px;
}

.purple-bg {
  color: #fff;
  background-color: #3c184e;
}

.banner p {
  width: 200px;
  padding: 10px 25px;
  margin: 0 auto;
  border-radius: 10px;
}

.social-medias__icon--small {
  width: 20px;
}

h3 {
  font-size: 36px;
  margin-bottom: 45px;
  font-weight: 700;
}

ul,
.section__social-medias p {
  max-width: 800px;
  margin: 0 auto 50px;
}

li {
  text-align: left;
  list-style: square;

  margin-bottom: 20px;
}

span {
  font-weight: 700;
  font-style: italic;
}

.services {
  max-width: 800px;
  margin: 0 auto;
}

.services img {
  border-radius: 5px;
  box-shadow: 3px 6px 10px 6px #0000005c;
}

.section__social-medias p {
  font-size: 40px;
}

.social-medias__icon {
  width: 50px;
  margin: 0 20px;
}

.no-margin {
  margin: 0;
}

.brands {
  max-width: 800px;
  margin: 0 auto;
}

.brands img {
  width: 148px;
  height: 148px;
  margin: 0 15px;
}

.section__location p {
  margin-bottom: 45px;
}

.section__footer {
  padding: 22px 0;
}

.section__footer p {
  font-size: 12px;
}

.section__footer a {
  text-decoration: underline;
}
